bin
obj
/packages/
/.vs/slnx.sqlite
/.vs/SmsService/v16/Server/sqlite3/storage.ide-wal
/.vs/SmsService/v16/Server/sqlite3/storage.ide-shm
/src/SmsService/SmsService.API/SmsService.API.csproj.user
/.vs/VSWorkspaceState.json
/.vs/SmsService/config/applicationhost.config
/.vs/slnx.sqlite-journal
/src/Providers/SmsService.Providers.Asanak/SmsService.Providers.Asanak.csproj.user
/src/Providers/SmsService.Providers.ADP/SmsService.Providers.ADP.csproj.user
/src/Providers/SmsService.Providers.Asanak/Properties/launchSettings.json
/src/Providers/SmsService.Providers.ADP/Properties/launchSettings.json
/.vs/SazeAfzar/v16/Server/sqlite3/storage.ide
/.vs/SazeAfzar/v16/Server/sqlite3/db.lock
/.vs/SazeAfzar/v16/.suo
/.vs/SazeAfzar/DesignTimeBuild/.dtbcache
/.vs/SazeAfzar/v16/Server/sqlite3/storage.ide-wal
/.vs/SazeAfzar/v16/Server/sqlite3/storage.ide-shm
/Sazeafzar.Web/Sazeafzar.Web.csproj.user
/.vs/SazeAfzar/DesignTimeBuild/.dtbcache.v2
node_modules
package-lock.json
.idea/**/*
.vs/
*.css
*.css.map
!**/ckeditor/**/*.css
